html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@font-face {
  font-family: 'Recoleta';
  src: url('/fonts/Recoleta-Black.eot');
  src: local('Recoleta Black'), local('Recoleta-Black'),
    url('/fonts/Recoleta-Black.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Recoleta-Black.woff2') format('woff2'),
    url('/fonts/Recoleta-Black.woff') format('woff'),
    url('/fonts/Recoleta-Black.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
