.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
}

.mainWrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.sideBar {
  display: flex;
  flex-grow: 1;
  box-sizing: border-box;
  background-color: #dfdfdf;
  flex-direction: column;
  max-width: 350px;
}
.sideBarHeader {
  display: flex;
  align-items: center;
  max-height: 100px;
  width: 100%;
  justify-content: space-around;
  padding: 20px 0;
}
.sideBarBody {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}
.socialFooter {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.socialIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon {
  width: 60px;
  height: 60px;
}
.imageBox {
  display: flex;
  flex-grow: 5;
  flex-direction: column;
  box-sizing: border-box;
}
.firstTwoImages,
.nextTwoImages {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  height: 50%;
}
.black,
.brown,
.white,
.green {
  display: flex;
  flex-grow: 1;
  box-sizing: border-box;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.black {
  background-image: url('/images/black.jpg');
}
.brown {
  background-image: url('/images/brown.jpg');
}
.white {
  background-image: url('/images/white.jpg');
}
.green {
  background-image: url('/images/green.jpg');
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
}
